<%= simple_form_for [@budget, @budget_item] do |f| %>

  <% if @budget_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@budget_item.errors.count, "error") %> prohibited this budget item from being saved:</h2>

      <ul>
      <% @budget_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p class="form-field">
    <%= f.input :type, collection: ["Expense", "Income"], as: :radio_buttons, required: true, class: "same-line" %>

    <%= f.association :category, collection: Category.all, prompt: "Choose a Category" %>

    <%= f.input :date, as: :string, input_html: { class: "datepicker" }, label: "Transaction Date" %>

    <%= f.input :amount %>
  </p>

  <p class="form-field">
    <%= f.input :description %>
  </p>

  <p class="form-field">
    <%= f.button :submit %>
  </p>
<% end %>
