<%= form_for [@budget, @budget_item] do |f| %>

  <% if @budget_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@budget_item.errors.count, "error") %> prohibited this budget item from being saved:</h2>

      <ul>
        <% @budget_item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p class="form-field">
    <%= f.label :date %> <%= f.text_field :date %>

    <%= f.label :name %> <%= f.text_field :name %>

    <%= f.label :amount %> <%= f.text_field :amount %>

    <%= f.label :category %> <%= f.collection_select :category_id, Category.all, :id, :name, prompt: "Select a Category" %>
  </p>

  <p class="form-field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </p>

  <p class="form-field">
    <%= f.submit %>
  </p>
<% end %>
