<%= render "users/profile_header", current_tab: "budget" %>

<h4>Budget</h4>

  <table>
    <tr>
      <th>Category</th>
      <th>Amount</th>
      <th>Description</th>
      <th>Date</th>
    </tr>
  <% @budget_items.each do |budget_item| %>
    <tr>
      <td><%= budget_item.category.name %></td>
      <td><%= number_to_currency(budget_item.amount, precision: 2) %></td>
      <td><%= budget_item.description %></td>
      <% if budget_item.date %>
        <td><%= budget_item.date.strftime("%m/%d/%Y") %></td>
      <% else %>
        <td></td>
      <% end %>
      <td><%= link_to "Edit", edit_budget_budget_item_path(@budget, budget_item) %></td>
      <td><%= link_to "Delete", budget_budget_item_path(@budget, budget_item), method: :delete, data: { confirm: "Are your sure?" } %></td>
    </tr>
  <% end %>
  </table>
  <%= paginate @budget_items, window: 2 %>

  <p><%= link_to "New Budget Item", new_budget_budget_item_path(@budget) %></p>
