<%= render "users/profile_header", current_tab: "budget" %>

<h3>Budget</h3>

  <table id="budget-items" class="display" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Category</th>
        <th>Amount</th>
        <th>Description</th>
        <th>Duration</th>
        <th><i class="fa fa-info-circle"></i></th>
        <th><i class="fa fa-pencil-square-o"></i></th>
        <th><i class="fa fa-times"></i></th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>Category</th>
        <th>Amount</th>
        <th>Description</th>
        <th>Duration</th>
        <th><i class="fa fa-info-circle"></i></th>
        <th><i class="fa fa-pencil-square-o"></i></th>
        <th><i class="fa fa-times"></i></th>
      </tr>
    </tfoot>
    <tbody>
    <% @budget_items.each do |budget_item| %>
      <tr>
        <td><%= budget_item.category.name %></td>
        <% if budget_item.amount > 0 %>
          <td class="income"><%= number_to_currency(budget_item.amount, precision: 2) %></td>
        <% else %>
          <td class="expense"><%= number_to_currency(budget_item.amount, precision: 2) %></td>
        <% end %>
        <td><%= budget_item.description %></td>
        <td><%= budget_item.duration.name %></td>
        <td><%= link_to "More", budget_budget_item_path(@budget, budget_item) %></td>
        <td><%= link_to "Edit", edit_budget_budget_item_path(@budget, budget_item) %></td>
        <td><%= link_to "Delete", budget_budget_item_path(@budget, budget_item), method: :delete, data: { confirm: "Are your sure?" } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <p><%= link_to "New Budget Item", new_budget_budget_item_path(@budget) %></p>
