<%= simple_form_for [current_user, @budget] do |f| %>

  <% if @budget.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@budget.errors.count, "error") %> prohibited this budget item from being saved:</h2>

      <ul>
      <% @budget.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p class="form-field">
    <%= f.input :name, placeholder: "Name" %>
  </p>

  <%= f.button :submit, class: "form-buttons" %>
<% end %>
