<h1><%= @budget.name %></h1>

<h3>Details</h3>

<p>Total Income: $<%= @income %></p>
<p>Total Spent: $<%= @spent %></p>
<% if @income > @spent %>
  <p class="income">Amount Left: $<%= (@income - @spent) %></p>
<% else %>
  <p class="expense">Amount Left: $<%= (@income - @spent) %></p>
<% end %>

<h4>Items</h4>
  <table>
    <tr>
      <th>Item</th>
      <th>Amount</th>
      <th>Type</th>
      <th>Category</th>
      <th>Description</th>
    </tr>
    <% @transactions.each do |transaction| %>
    <tr>
      <td><%= transaction.name %></td>
      <% if transaction.type.name == "Expense" %>
        <td class="expense">-$<%= sprintf('%.2f', transaction.amount) %></td>
      <% else %>
        <td class="income">$<%= sprintf('%.2f', transaction.amount) %></td>
      <% end %>
      <td><%= transaction.type.name %></td>
      <td><%= transaction.category.name %></td>
      <td><%= transaction.description %></td>
      <td><%= link_to "Edit", edit_budget_transaction_path(@budget, transaction) %></td>
      <td><%= link_to "Delete", budget_transaction_path(@budget, transaction), method: :delete, data: { confirm: "Are your sure?" } %></td>
    </tr>
    <% end %>
  </table>

<p><%= link_to "Add new transaction", new_budget_transaction_path(@budget, @transaction) %></p>

<p>
<%= link_to "Edit Name", edit_budget_path(@budget) %> |
<%= link_to "Delete Budget", @budget, method: :delete, data: { confirm: "Are your sure?" } %>
</p>

<p><%= link_to 'Back', budgets_path %></p>
