<h1><%= @budget.name %></h1>

<dl class="tabs" data-tab>
  <dd class="active"><a href="#panel1">Details</a></dd>
  <dd><a href="#panel2">Transactions</a></dd>
  <dd><a href="#panel3">Budget</a></dd>
</dl>

<div class="tabs-content">
  <div class="content active" id="panel1">
    <h3>Details</h3>

    <p>Total Income: <%= number_to_currency(@income, precision: 2) %></p>
    <p>Total Spent: <%= number_to_currency(@spent, precision: 2, negative_format: "(%u%n)") %></p>
    <% if @income > @spent.abs %>
      <p class="income">Amount Left: <%= number_to_currency((@income - @spent.abs), precision: 2) %></p>
    <% else %>
      <p class="expense">Amount Left: <%= number_to_currency((@income - @spent.abs), precision: 2, negative_format: "(%u%n)") %></p>
    <% end %>
  </div>

  <div class="content" id="panel2">
    <h4>Transactions</h4>
    <table>
      <tr>
        <th>Item</th>
        <th>Amount</th>
        <th>Category</th>
        <th>Description</th>
        <th>Date</th>
      </tr>
      <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.name %></td>
        <% if transaction.amount > 0 %>
          <td class="income"><%= number_to_currency(transaction.amount, precision: 2) %></td>
        <% else %>
           <td class="expense"><%= number_to_currency(transaction.amount, precision: 2, negative_format: "(%u%n)") %></td>
        <% end %>
        <td><%= transaction.category.name %></td>
        <td><%= transaction.description %></td>
        <% if transaction.date %>
          <td><%= transaction.date.strftime("%m/%d/%Y") %></td>
        <% else %>
          <td></td>
        <% end %>
        <td><%= link_to "Edit", edit_budget_transaction_path(@budget, transaction) %></td>
        <td><%= link_to "Delete", budget_transaction_path(@budget, transaction), method: :delete, data: { confirm: "Are your sure?" } %></td>
      </tr>
      <% end %>
    </table>
    <%= paginate @transactions, window: 2 %>

    <p><%= link_to "Add new transaction", new_budget_transaction_path(@budget) %></p>
  </div>

  <div class="content" id="panel3">
    <h4>Budget</h4>
    <table>
      <tr>
        <th>Category</th>
        <th>Amount</th>
        <th>Description</th>
        <th>Date</th>
      </tr>
      <% @budget_items.each do |budget_item| %>
      <tr>
        <td><%= budget_item.category.name %></td>
        <td><%= number_to_currency(budget_item.amount, precision: 2) %></td>
        <td><%= budget_item.description %></td>
        <% if budget_item.date %>
          <td><%= budget_item.date.strftime("%m/%d/%Y") %></td>
        <% else %>
          <td></td>
        <% end %>
        <td><%= link_to "Edit", edit_budget_budget_item_path(@budget, budget_item) %></td>
        <td><%= link_to "Delete", budget_budget_item_path(@budget, budget_item), method: :delete, data: { confirm: "Are your sure?" } %></td>
      </tr>
      <% end %>
    </table>
    <%= paginate @budget_items, window: 2 %>

    <p><%= link_to "New Budget Item", new_budget_budget_item_path(@budget) %></p>
  </div>

</div>

<p>
<%= link_to "Edit Name", edit_budget_path(@budget) %> |
<%= link_to "Delete Budget", @budget, method: :delete, data: { confirm: "Are your sure?" } %>
</p>

<p><%= link_to 'Back', budgets_path %></p>
