<%= form_for [@budget, @transaction] do |f| %>

  <% if @transaction.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

    <ul>
      <% @transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <p>
    <%= f.label :name %>: <%= f.text_field :name %>

    <%= f.label :amount %>: <%= f.text_field :amount %>

    <%= f.label :type %>: <%= f.collection_select :type_id, @types, :id, :name,prompt: "Select a Type" %>
  </p>

  <p>
    <%= f.label :description %>:<br />
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
